/* styles.css */

/* Experience Section */
.experience {
  background: linear-gradient(to bottom, #1f2933, #000000);
}


.experience .p-4 {
  padding: 1rem;
  text-align: center;
}

.experience .text-white {
  color: #ffffff;
}

.experience p {
  margin: 0;
  text-align: center;
}

.experience .text-4xl {
  font-size: 2.25rem;
}

.experience .font-bold {
  font-weight: bold;
}

.experience .border-b-4 {
  border-bottom-width: 4px;
}

.experience .inline {
  display: inline;
}

.experience .py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Technologies Grid */
.experience .grid {
  display: grid;
}

.experience .grid-cols-2 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.experience .sm\\:grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.experience .gap-8 {
  gap: 2rem;
}

.experience .text-center {
  text-align: center;
}

.experience .py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.experience .px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.experience .sm\\:px-0 {
  padding-left: 0;
  padding-right: 0;
}

/* Technology Card */
.experience .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px #ad9;
}

.experience .hover\\:scale-105:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.experience .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.experience .rounded-lg {
  border-radius: 0.375rem;
}

.experience .w-20 {
  width: 5rem;
}

.experience .mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.experience .mt-4 {
  margin-top: 1rem;
}
.shadow-orange-500 {
  box-shadow: 0 4px 6px -1px rgba(255, 107, 0, 0.1), 0 2px 4px -1px rgba(255, 107, 0, 0.06);
}

/* Add similar styles for other shadow classes */
