.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 10px;
  color: #fff;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}