

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #000;
}

h1, h4, p, a{
  color:white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  color:#000;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 600;
  background-image: linear-gradient(to right, #41ec55, #FFA500);
}

.btn:hover{
  color:#fff;
  background:#000;
}

.btn-ligt{
  color: #fff;
  background: transparent;
}


 

